<div class="container">
        <section class="border shadow-lg bg-dark rounded-lg mt-5">
                <h1 class="mt-1 text-alignment text-white font-italic font-family">Update Profile</h1>
        </section>
        <div *ngIf="updateSuccess" class="alert alert-success mt-2">
                User Updated sucessfully
        </div>
    <section class="border shadow-lg rounded-lg section-margin" *ngIf="!updateSuccess">
        
        <form [formGroup]="signupForm" (ngSubmit)="updateUser(signupForm)" novalidate>
        
                
                <div class="form-row ml-3 mr-3">
                    <div class="col-sm-12 col-lg-6  mt-4">
                        <label for="userName">Username*</label>
                        <span *ngIf="signupForm.get('userName').touched;else elseBlockUserName">
                            <input type="text" class="form-control" placeholder="Enter Username"
                                formControlName="userName" id="username" name="username" (keyup)="changeValue()"
                                [ngClass]="{
                            'border border-danger': signupForm.get('userName').errors?.required || signupForm.get('userName').errors?.minlength 
                            || signupForm.get('userName').errors?.maxlength || userPresent, 
                            '': !signupForm.get('userName').errors?.required || !signupForm.get('userName').errors?.minlength || !signupForm.get('userName').errors?.maxlength
                          }" />
                            <div>
                                <div class="text-danger  position-absolute"
                                    *ngIf="signupForm.get('userName').errors?.minlength || signupForm.get('userName').errors?.maxlength">
                                    Length should be between 2 & 15!
                                </div>

                                <div class="text-danger position-absolute"
                                    *ngIf="signupForm.get('userName').errors?.required">
                                    Username is required!
                                </div>
                            </div>
                        </span>
                        <ng-template #elseBlockUserName><input type="text" class="form-control"
                                placeholder="Enter Username" formControlName="userName" id="username" name="username" />
                        </ng-template>
                        <div *ngIf="userPresent" class="text-danger position-absolute">
                            User Already Exists
                        </div>
                    </div>
                </div>

                <div class="form-row ml-3 mr-3">
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="password">Password*</label>
                        <span *ngIf="signupForm.get('password').touched;else elseBlockPassword">
                            <input type="password" class="form-control " placeholder="Enter New Password" name="password"
                                formControlName="password" id="password" [ngClass]="{
                                'border border-danger': signupForm.get('password').errors?.required || signupForm.get('password').errors?.minlength || signupForm.get('password').errors?.maxlength, 
                                '': !signupForm.get('password').errors?.required || !signupForm.get('password').errors?.minlength || !signupForm.get('password').errors?.maxlength
                              }" />
                            <div>
                                <div class="text-danger position-absolute"
                                    *ngIf="signupForm.get('password').errors?.minlength || signupForm.get('password').errors?.maxlength">
                                    Password should be between 2 & 15!
                                </div>

                                <div class="text-danger position-absolute"
                                    *ngIf="signupForm.get('password').errors?.required">
                                    Password is required!
                                </div>
                            </div>
                        </span>
                        <ng-template #elseBlockPassword>
                            <input type="password" class="form-control " placeholder="Enter New Password" name="password"
                                formControlName="password" id="password" />
                        </ng-template>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <label for="cnfpassword">Confirm Password*</label>
                        <span *ngIf="signupForm.get('confirmPassword').touched;else elseBlockConfirmPassword">
                            <input type="password" class="form-control" placeholder="Confirm New Password" name="password"
                                formControlName="confirmPassword" id="cnfpassword" (keyup)="checkIfMatchingPasswords()"
                                [ngClass]="{
                                'border border-danger': signupForm.get('confirmPassword').errors?.required, 
                                '': !signupForm.get('confirmPassword').errors?.required 
                              }" />
                            <div class="text-danger position-absolute"
                                *ngIf="!checkpass && !signupForm.get('confirmPassword').errors?.required">
                                Passwords should be same
                            </div>
                            <div class="text-danger position-absolute"
                                *ngIf="signupForm.get('confirmPassword').errors?.required">
                                Confirm Password is required
                            </div>

                        </span>
                        <ng-template #elseBlockConfirmPassword>
                            <input type="password" class="form-control" placeholder="Confirm New Password" name="password"
                                formControlName="confirmPassword" id="cnfpassword"
                                (keyup)="checkIfMatchingPasswords()" />
                        </ng-template>
                    </div>
                </div>
         
                <div class="form-row ml-3 mr-3">
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="contactnumber">Contact Number*</label>
                        <span *ngIf="signupForm.get('contactNumber').touched;else elseBlockContactNumber">
                            <input type="text" class="form-control " placeholder="Enter Contact Number" name="contactNumber"
                                formControlName="contactNumber" id="contactnumber"
                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                [ngClass]="{
                                'border border-danger': signupForm.get('contactNumber').errors?.required || signupForm.get('contactNumber').errors?.minlength || signupForm.get('contactNumber').errors?.maxlength,
                                '': !signupForm.get('contactNumber').errors?.required  || !signupForm.get('contactNumber').errors?.minlength || !signupForm.get('contactNumber').errors?.maxlength
                              }" />

                            <div class="text-danger position-absolute"
                                *ngIf="signupForm.get('contactNumber').errors?.minlength || signupForm.get('contactNumber').errors?.maxlength">
                                Contact Number should be of 10 digits!
                            </div>
                            <div class="text-danger position-absolute"
                                *ngIf="signupForm.get('contactNumber').errors?.required">
                                Contact Number is required
                            </div>
                        </span>
                        <ng-template #elseBlockContactNumber>
                            <input type="text" class="form-control " placeholder="Enter Contact Number" name="contactNumber"
                                formControlName="contactNumber" id="contactnumber"
                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                        </ng-template>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <label for="email">Email*</label>
                        <span *ngIf="signupForm.get('email').touched;else elseBlockEmail">
                            <input type="text" class="form-control" placeholder="Enter Email id" name="email"
                                formControlName="email" id="email" [ngClass]="{
                                'border border-danger': signupForm.get('email').errors?.required,
                                '': !signupForm.get('email').errors?.required 
                              }" />
                            <div class="text-danger position-absolute" *ngIf="signupForm.get('email').errors?.email">
                                Please enter valid email!
                            </div>
                            <div class="text-danger position-absolute"
                                *ngIf="signupForm.get('email').errors?.required">
                                Email Id is required!
                            </div>
                        </span>
                        <ng-template #elseBlockEmail>
                            <input type="text" class="form-control" placeholder="Enter Email id" name="email"
                                formControlName="email" id="email" />
                        </ng-template>
                    </div>
                </div>
              

            
            <div class="form-row mt-3 mb-5 ml-3">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark mt-2 "
                        [disabled]="!signupForm.valid  ||!checkpass  ">Update</button>
                </div>
            </div>
        </form>
    </section>
</div>